#details {
    display: flex;
    flex-direction: column;
    gap: 2em;

    h1 {
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));
        font-size: 2.5em;
    }
    
    #main {
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));

        display: flex;
        flex-direction: column;
        gap: 1em;
        h2 {
            font-size: 2rem;
        }
    }
    
    #matches {
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));

        h2 {
            font-size: 2rem;
        }

        ul {
            display: flex;
            gap: 1em;
            flex-wrap: wrap;

            li {
                background-color: grey;
                padding: 1em;

                li:focus {
                    outline: 1px solid black;
                }
            }
        }
    }
}

