main {

    .wrapper {
        margin-inline: max(1.5rem, ((100% - 75rem) / 2));

        display: flex;
        flex-direction: column;
        gap: 2em;
        padding-top: 2em;

        .intro {
            display: flex;
            flex-direction: column;
            gap: 1em;

            h1 {
                font-size: 3em;
                color: white;
            }

            p {
                color: white;
            }
        }

        .search {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .search-bar-container {
                display: flex;
                flex-direction: row;
                display: flex;
                flex-direction: column;
                gap: 1.5em;

                label {

                    width: 100%;
                    font-size: 1.5rem;
                    color: white;


                    input[type="search"] {
                        width: 100%;
                        font-size: 1.5em;
                    }


                }
                #categorylist {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 2em;
                    flex-wrap: wrap ;

                    label {
                        width: fit-content;
                    }

                    button {
                        color: white;
                        padding: 1em;
                        background-color: transparent;
                    }
                    
                }
                #start {
                    padding: 1em 0;
                    width: 20em;
                }
            }

        }

        .items {

            .cards {
                width: 100%;

                display: none;
                flex-direction: row;
                margin: 0 auto;
                gap: 1em;
                flex-wrap: wrap;
                justify-content: space-between;

                .cardlink {
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    transition: 0.3s;
                    width: 100%;
                    /* display: none; */

                    @media (min-width: 600px) {
                        width: 45%;
                      }

                    @media (min-width: 900px) {
                        width: 30%;
                    }



                    .card {
    
                        .container {
                            padding: 20px 16px;
        
                            display: flex;
                            flex-direction: column;
                            gap: 1em;
        
                            h3 {
                                font-size: 2em;
                                color: white;
                            }
        
                            p {
                                color: white;
                            }
                        }
                        
                    }
                    &:hover {
                        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                    }
                }

                #noitems {
                    h2 {
                        font-size: 0.7em;
                    }
                }


               
            }           
        }
    }
}