@import url(../css/reset.css);
@import url(../css/matchen.css);

@import url(../css/Includes/header.css);
@import url(../css/Includes/footer.css);


main {
    background-color: #444444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    padding: 3em 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}


/* Skip to content */

.skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-100%);
  }

  .skip-to-content-link {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }


  /* Focus state */

  *:focus {
    outline: 5px dotted lightgreen;
  }

  #noitems {
    display: none;

    color: white;
    font-size: 2rem;
  }